{{ blok._editable }}
<div class="colorbox colorbox--{{ blok.color }}">
  <canvas width="480" height="240"></canvas>
  <div class="colorbox__overlay">{{ blok.title }}</div>
  <div class="colorbox__longtext">
    {{ blok.longtext }}
  </div>
</div>
