.colorbox {
  position: relative;
  background-color: #bababa;
  transition: background-color 0.2s;

  &:hover, &.colorbox--active {
    background-color: #E50A7A;
  }

  canvas {
    width: 100%;
    height: auto;
  }

  &:hover, &.colorbox--active {
    .colorbox__overlay {
      opacity: 0;
    }

    .colorbox__longtext {
      opacity: 1;
    }
  }
}

.colorbox--blue {
  background-color: #dbdbdb;

  &:hover, &.colorbox--active {
    background-color: #08AEE4;
  }
}

.colorbox--orange {
  background-color: #CCC;

  &:hover, &.colorbox--active {
    background-color: #FDBD10;
  }
}

.colorbox__longtext {
  font-weight: 300;
  font-size: rem(20px);
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 30px;
  opacity: 0;
  display: flex;
  transition: opacity 0.5s;
}

.colorbox__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-weight: 300;
  font-size: rem(30px);
  color: #FFFFFF;
}
